@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.app-container {
  text-align: center;
  background: radial-gradient(circle, #222 20%, #111 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2.8em;
  color: #ffcc00;
  text-shadow: 4px 4px 0px #222;
  font-family: "Orbitron", sans-serif;
}
